<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rizaldev.debtcollector">

    <application
        android:name=".application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.login.LoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".screens.register.RegisterActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".screens.register.BiodataActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".screens.splash.SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.bayar_utang.BayarUtangActivity" />
        <activity android:name=".screens.chat.ChatActivity" />
        <activity android:name=".screens.history.HistoryActivity" />
        <activity android:name=".screens.main.MainActivity" />
        <activity android:name=".screens.terima_utang.TerimaUtangActivity" />
        <activity android:name=".screens.utang_baru.UtangBaruActivity" />
    </application>

</manifest>